@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
#title{

text-align:center;

}

body{

    background-color:#242424;
font-family: "Figtree", Arial, sans-serif;

}
h1, h2,h3,h4,h5,h6, p,a{

color:white;

}
#intro p, #intro a, #intro h1{

color:white;
text-align:center;

}
p{
font-size:1rem;

}


.box{

padding-right:10%;
padding-left:10%;
width:20%;
height:10%;
text-align:center;
border: 1px solid white;
border-radius:15px;

}
